.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 5rem 3rem;
  background: var(--bg);
  color: var(--text);
  transition: background 0.4s ease, color 0.4s ease;
   flex-wrap: wrap;
  min-height: 100vh;
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--accent);
}

.about p {
  line-height: 1.8;
  color: #ccc;
  margin-bottom: 1rem;
}

.highlight {
  color: var(--accent);
  font-weight: 600;
}

.resumeBtn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 1.8rem;
  background: var(--accent);
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.resumeBtn:hover {
  background: #008bd1;
  transform: translateY(-2px);
}
.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  /* height: 100px; */
  width: 300px;   /* adjust width */
  height: 450px;  /* adjust height */
  border-radius: 30px;
  overflow: hidden;
  border: 3px solid #00b4ff;
  box-shadow: 0 0 20px rgba(0, 180, 255, 0.3);
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.right {
  flex: 1;
  max-width: 600px;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: #00b4ff;
}

.text {
  margin-bottom: 1rem;
  line-height: 1.7;
  color: var(--text-light);
  font-size: 1.05rem;
}

.text span {
  color: #00b4ff;
  font-weight: 600;
}

.quote {
  margin-top: 2rem;
  font-style: italic;
  color: #999;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  border: 1px solid #00b4ff;
  color: #00b4ff;
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: 500;
  backdrop-filter: blur(5px);
}

.btn:hover {
  background: #00b4ff;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 180, 255, 0.5);
}

@media (max-width: 900px) {
  .about {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .right {
    max-width: 90%;
  }

  .imageWrapper {
    width: 250px;
    height: 250px;
  }
}