.skills {
  text-align: center;
  padding: 5rem 2rem;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

.skills h1 {
  color: var(--accent);
  margin-bottom: 2rem;
  font-size: 2rem;
}

.grid {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  max-width: 900px;
  margin: 0 auto;
  gap: 2rem;
}

.card {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  padding: 2rem 1rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  background: rgba(0, 180, 255, 0.15);
}

.iconWrapper {
  opacity: 0;
  transform: scale(0.8);
  margin-bottom: 0.5rem;
}

.card:hover .iconWrapper {
  opacity: 1;
  transform: scale(1);
}

.iconWrapper img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.card p {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text);
}