:root {
  --bg: #ffffff;
  --text: #0b0b0b;
  --accent: #007bff;
  --card-bg: #f9f9f9;
  --border: #e5e5e5;
}

[data-theme='dark'] {
   --bg: #0b0b0b;
  --text: #f5f5f5;
  --accent: #00aaff;
  --card-bg: #1a1a1a;
  --border: #333333;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: background 0.4s ease, color 0.4s ease;
}

main {
  padding: 3rem 2rem;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  min-height: 100vh; /* take full screen height */
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto; /* pushes footer to bottom */
}
